@page
@model outer_space.Web.Pages.MissionAstronauts.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>MissionAstronaut</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MissionAstronaut.MissionID" class="control-label"></label>
                <select asp-for="MissionAstronaut.MissionID" class ="form-control" asp-items="ViewBag.MissionID"></select>
            </div>
            <div class="form-group">
                <label asp-for="MissionAstronaut.AstronautID" class="control-label"></label>
                <select asp-for="MissionAstronaut.AstronautID" class ="form-control" asp-items="ViewBag.AstronautID"></select>
            </div>
            <div class="form-group">
                <label asp-for="MissionAstronaut.MissionAstronautRole" class="control-label"></label>
                <input asp-for="MissionAstronaut.MissionAstronautRole" class="form-control" />
                <span asp-validation-for="MissionAstronaut.MissionAstronautRole" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
